<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
<title>Паттайя – город свободы</title>
</head>
<body>
	<div id = "article_body">
		<h3 class = "article_title">Паттайя – город свободы. Отзывы о Паттайе</h3>
		<div id = "first_letter">
			<p>Говоря о Таиланде, невозможно сказать однозначно, что это страна, изобилующая экзотической зеленью и 
			белоснежными пляжами. Таиланд – это гораздо больше. Страна контрастов, где сочетаются немыслимые для 
			европейского человека вещи. Это и почитание религии, и в то же время откровенная распущенность. Это шикарные 
			храмы и убогие лачуги, расположенные прямо перед ними. Это и завораживающие своей чистотой, аккуратностью и 
			колоритом парки, но и грязь на улицах. Такая непонятная, но в то же время манящая страна, знакомство с которой 
			начнем, пожалуй, с города Паттайя. Но прежде чем отправиться в поездку, нужно прочитать отзывы о Паттайе.</p>
			<p>Паттайя – это самый популярный среди туристов город в Таиланде. И отзывы туристов о Паттайе обычно пропитаны 
			положительными эмоциями и восторгом. Интересные экскурсии, бурная ночная жизнь без табу и запретов, всевозможные 
			рестораны, экзотические фрукты, потрясающие SPA-салоны – что еще надо для отдыха? Море! Конечно же, как без него. 
			Паттайю омывает Сиамский залив Южно-Китайского моря. Для любителей сноркелинга или поклонников белоснежных пляжей 
			с нависающими над водой пальмами, возможно, будет разочарованием узнать, что в самом городе этого нет. Есть 
			длинная набережная и городской пляж под названием Джомтьен, однако, песок там желтоватый, вода мутная, а подводный 
			мир отнюдь не колоритный. Но! Благо, недалеко, буквально в 20 минутах на скоростной лодке, и вы уже на соседних 
			островках, где находится как раз то, что вы и хотели. Белый и мягкий, как мука, песочек, идеальное дно и вода такого 
			пронзительного бирюзового цвета - просто рай! И отзывы туристов об этих местах Паттайи положительные.</p>
			<p>Кстати, азиатское солнце очень коварное, поэтому даже когда небо затянуто тучами, можно запросто сгореть. Не 
			забывайте о солнцезащитных кремах даже в непогоду.</p>
			<p>Пару слов о городской набережной. Да, возможно, море там не такое кристально-чистое, как на островах, но Джомтьен 
			также пользуется не малой популярностью у туристов. Особенно, когда хочется провести на пляже всего пару часов. 
			У многих отелей есть своя пляжная территория, за которой сотрудники отеля следят, чистят ее и поддерживают ухоженный вид. 
			Так что отдых там достаточно комфортный. </p>
			<p>Однако в Паттайю приезжают по большей мере не за пляжным отдыхом, а за зрелищами, которых здесь более чем достаточно! 
			И отзывы о Паттайи и её зрелищах такие, что дух захватывает! Итак, начнем, пожалуй,  с достопримечательностей, которые 
			можно увидеть непосредственно в городе, либо расположенные недалеко от него.</p>
			<p>Одной из главных достопримечательностей Паттайи является, несомненно, тропический парк Нонг Нуч. Удивительное место, 
			откуда возвращаешься только с позитивными отзывами и эмоциями. Ведь общение с природой всегда оставляет только положительный 
			настрой. Когда-то мадам Нонг Нуч вместе с мужем приобрела 600 акров земли, чтобы посадить на них фруктовые сады и плантации. 
			Однако со временем передумала и решила сделать из него место отдыха для туристов. Сейчас Нонг Нуч – это огромный парк со 
			всевозможными растениями, цветами, кустарниками, которые благодаря ловким рукам садовника приобрели форму животных. 
			В парке можно провести весь день, ведь территория его настолько большая, что за пару часов осмотреть все красоты этого 
			райского места просто не реально. Чего только стоит сад орхидей или сад кактусов, а также место, где поселились гигантские
			бабочки, позволяющие туристам аккуратно посадить себя на ладошку и сделать запоминающее фото. Можно также сфотографироваться 
			с настоящим тигром! Массу впечатлений можно получить, прогуливаясь и по французскому саду. Это нечто! Говорят, что этот 
			сад выполнен по аналогу с Версальским парком в Париже.</p>
			<p>Еще одним природным парком, не менее интересным по отзывам туристов о Паттайи и по моим наблюдениям, является Крокодиловая
			ферма. Просто поражает, насколько фонтанируют идеями тайцы, создавая подобное чудо. Здесь и различные каменные изваяния 
			причудливых форм в обрамлении сочной зелени и ярких цветов. И ухоженная парковая территория. Но главными героями фермы, 
			ради которых собственно и приезжают сюда туристы являются, бесспорно, крокодилы… много крокодилов! Увидеть их во всем 
			великолепии можно с мостика, который находится прямо над хищниками. В то время как туристы восторженно щелкают этих зубастых 
			красавцев на фотоаппараты, крокодилы нежатся под солнышком, развалившись друг на друге. Некоторые размеренно плавают по водоему. 
			Кстати, есть интересная услуга на ферме: кормление крокодилов. Туристам выдают удочки, общипанную тушку курицы, насаженную 
			на крючок. Покормить хищника можно прямо с мостика, опустив вниз наживку, которую крокодил проглатывает в одно мгновение.</p>
			<p>Кстати, на территории фермы есть кафе, где предлагают полакомиться мясом крокодила. Также все посетители могут увидеть 
			интересное представление, где укротитель этих свирепых животных вот так запросто тягает их за хвост и даже кладет голову в 
			раскрытую пасть крокодила.Очень красивый в Паттайе и зоопарк Кхао Кхео. По его огромной территории можно перемещаться как пешком, 
			так и на специальном открытом паровозике на колесах. Животные здесь чувствуют себя, как дома, настолько воссозданы естественные 
			условия их обитания. Розовые фламинго, косули, огромные бегемоты, гигантские вараны, перемещающиеся по деревьям, жирафы, которых 
			можно покормить с руки – все это малая толика того, что можно увидеть в зоопарке. Отличное времяпровождение, как с детьми, так и со 
			своей второй половинкой.</p>
			<p>В Паттайе вообще поражает то, насколько тайцы умеют создать потрясающие ландшафты. Зеленые насаждения не просто высажены, 
			а составляют какую-то композицию. Все настолько гармонично и изыскано, что хочется гулять по таким паркам хоть целый день.</p>
			<p>Альтернативой крокодиловой ферме может стать и Тигровый зоопарк, где помимо 400 бенгальских тигров находится более 10 тысяч 
			крокодилов. В зоопарке, кроме потрясающе зеленой и красивой территории, можно полюбоваться не только хищными полосатыми кошками, 
			но и необычным семейством, которое состоит из поросенка, собаки, петуха и тигра – вот такой непривычный тандем. Также будет
			возможность покормить маленького тигренка молоком из бутылочки и сделать с ним фото. А также сфотографироваться с красивой 
			тайской девушкой, увешанной скорпионами. Не обойдется и без зрелищ с бесстрашными дрессировщиками, тиграми и крокодилами.</p>
			<p>Это все природные экскурсии, но так как Таиланд это страна, где проповедуется буддизм, то и храмов на его территории 
			предостаточно. В Паттайе, например, можно увидеть Храм Истины. Только представьте: самый большой в мире деревянный храм, 
			построенный без единого гвоздя. Смотришь на него, и дух захватывает от неимоверной роскоши, тонкой и умелой работы мастеров. 
			Храм полностью состоит из всевозможных религиозных фигурок и божеств, столько узоров, что аж в глазах рябит.</p>
			<p>В основу 105 метрового храма взяты мифологические и религиозные сюжеты Таиланда, Китая, Индии и Камбоджи. Почему такое 
			название – Храм истины? Автор этого архитектурного шедевра (один известный меценат и миллионер) хотел донести до людей их 
			смысл в жизни, помочь понять людям, насколько важна взаимосвязь человечества со вселенной. Философия храма состоит в том, 
			что человек смог достичь высот лишь благодаря религиозным истинам, которые являются основой его развития.</p>
			<p>Храм начали возводить в 1981 году и продолжают еще строить, скрупулезно вырезая деревянные фигурки. Однако и сейчас он 
			выглядит просто потрясающе.</p>
			<p>Еще один известный храмовый комплекс, который туристы непременно посещают и оставляют положительные отзывы о Паттайе, – 
			это храм Ват Ян. Подъезжая к нему, первое, что бросается в глаза – это огромное изображение сидячего Будды. Оно выложено 
			золотыми пластинами на огромной горе. В высоту достигает 6о метров.</p>
			<p>На территории храма Ват Ян буддисты, как правило, занимаются медитацией. Туристам же предлагают проследовать в помещение 
			храма и познакомиться с иллюстрациями, где прослеживается путь просветления Будды. Предметы старины, роскошный интерьер - все 
			это также представлено в храме. А если преодолеть расстояние в 300 ступенек и подняться к маленькой часовни, то можно загадать 
			желание, ударив в один из колоколов. Но не это даже главное, ради чего стоит мучиться по жаре, поднимаясь ввысь. А то, что именно 
			в этой часовни находится по поверьям отпечаток стопы Будды – священное место. По легенде, на каждой ступеньке вы оставляете 
			одну из своих плохих черт и, поднявшись к Стопе Будды, становитесь полностью очищенными. Здорово, не правда ли? Избавиться от 
			всех грехов!</p>
			<p>Очень красивый и китайский храм Вихарнра Сиен. Это храм-музей, где экспонаты показывают слияние китайской и тайской культур.</p>
			<p>Стоит также побывать и на обзорной площадке в Паттайе, которая находится на холме Пратамнак. Мало того, что с нее 
			открывается красивый вид на город, набережную, окрестности, так еще недалеко расположен Холм Большого Будды. Статуя высотой 
			в 15 метров, к которой ведут ступеньки по краям, которых извивается скульптурная мифологическая змея. Вернее, одно змеиное 
			тело с семью головами по обе стороны ступеней. Очень колоритный храм. Кстати, не удивляйтесь, если к вам побегут местные 
			жители с птицами в клетках. За небольшую плату они дадут вам выпустить пернатых на волю – хороший знак. Рядом с Большим 
			Буддой находятся семь статуй меньшего размера – это также фигурки Будды, только отличающиеся друг от друга позами. Каждая 
			статуя соответствует дню недели и в зависимости от того, в какой день вы родились, у того Будды и надо просить исполнения желания. </p>
			<p>И наконец, экскурсия, которая помогает, как говорят, убить сразу нескольких зайцев. То есть посмотреть все достопримечательности 
			Таиланда в одном месте. Все фигуры уменьшены в размерах. Это все парк Мини Сиам. Причем помимо тайских красот, в парке находятся 
			и уменьшенные скульптуры европейских достопримечательностей. Например: Акрополь в Афинах, Антониум в Брюсселе, статуя Свободы
			в США, есть даже московский Кремль, Колизей в Риме, Пизанская башня и многие другие узнаваемые архитектурные шедевры. Да и сама
			территория парка традиционно для Паттайи ухожена, красива и полна зелени.</p>
			<p>Это все экскурсии, которые можно посетить в этом удивительном городе, однако помимо них в Паттайе есть еще немало развлечений
			на любой вкус и кошелек. Например, можно отправиться в огромный торговый центр под названием «Роял Гарден Плаза». Там помимо 
			всевозможных бутиков, сувенирных лавок и кафе есть развлекательные мероприятия. Такие, как комната «Верю – не верю», где 
			представлены экспонаты, поражающие воображение. Огромная челюсть акулы, предметы, найденные у этой хищницы в желудке, фигура 
			самого большого и самого маленького человека в мире и масса всего интересного. А хотите пощекотать себе нервы? Тогда вам в 
			комнату страха! Поверьте, такого ужаса, который испытывают многие, блуждая по лабиринтам этой зловещей комнаты, мало где можно 
			увидеть. Во-первых, антураж, живые люди, переодетые во всяких монстров, освещение, звуковое сопровождение выводит из равновесия 
			даже стойких и уравновешенных мужчин, что говорить уже о слабом поле. Эйфория наступает, когда все комнаты пройдены, и вы 
			оказываетесь, так сказать, на воле. Когда все позади и можно спокойно вздохнуть полной грудью. Адреналин стопроцентный!</p>
			<p>Для более спокойных, но не менее зрелищных впечатлений в центре развлечений есть кинотеатр в 3D формате, где надев специальные
			очки можно почувствовать себя героем короткометражных фильмов.</p>
			<p>Для любителей экстрима можно еще посоветовать посетить отель Паттайя Парк, который находится рядом с набережной Джомтьен. 
			Поднявшись на лифте на 55 этаж, выходите на смотровую площадку, откуда открывается потрясающий вид на город. А спуститься можно
			либо в вагончике, либо… прыгнуть вниз. Но не понимайте буквально! Вас обвязывают специальной страховочной веревкой, и до земли
			вы летите на канатной дороге. Страшно только в начале, когда надо сделать сам шаг вниз. Сам же путь занимает немного времени
			и по скорости довольно-таки медленный, так что кто не боится высоты, испытает лишь малую долю адреналина. Но все равно 
			захватывающий аттракцион.</p>
			<p>Это все днем, с наступлением же сумерек, Паттайя превращается в нечто разнузданное, в шокирующую для многих Азию. Возможно
			для кисейных барышень, все, что происходит ночью на улице Wallking Street, покажется чем-то грязным и не пристойным, но судя 
			по количеству туристов, которые там прогуливаются, их это только забавляет.  Во-первых, это трансвеститы… много трансвеститов!
			Какое-то непонятное желание у тайцев сделать себе пластическую операцию, перевоплотившись в девушку. Многие причем настолько в 
			этом преуспевают, что и не скажешь, глядя на стройную красотку с идеальной грудью, что это в прошлом был мужчина.Кстати, многие
			российские и украинские туристы из-за этого и попадают впросак. Знакомясь с леди, они к разочарованию под конец вечера 
			обнаруживают, что это парень. Смотрите на размер обуви и кадык – это уж точно никакая операция не скроет. Кстати, в Паттайе 
			есть даже театрализованные шоу трансвеститов, где настолько все показано красиво и без пошлости, что только диву даешься, 
			насколько виртуозно можно превратиться в диву, которая и танцует на сцене, и поет и все это в неимоверно красочных костюмах. 
			Шоу называется «Тиффани», есть также шоу «Альказар».</p>
			<p>Но если на этих преставлениях все красиво и пристойно, то «Х-шоу» вызывает у многих туристов неподдельный шок. Настолько
			все откровенно, что описывать происходящее было бы некорректно. Лучше уж сами посмотрите. Кстати, снимать фото и видео в этом 
			заведении запрещено, даже сумки у туристов проверяют, чтобы никто не смог пронести с собой фотоаппарат. Есть также go-go бары,
			где девушки в откровенных костюмах развлекают публику. Мужчин в таких заведениях хоть отбавляй.</p>
			<p>Стоит также сказать, что в отличие от восточных стран, где популярностью у местных жителей пользуются приезжие девушки 
			туристки, особенно светловолосые, то здесь в Таиланде проходу не дают именно парням. Привыкайте и к тому, что часто можно увидеть 
			престарелых немцев и американцев, прогуливающих под ручку с молоденькими тайскими девочками или… мальчиками. Что сказать – их нравы!</p>
			<p>Ну и, конечно же, дискотеки. Их в Паттайе также не мало. Причем гламурных див и мачо на дансполе не увидишь. Все одеты 
			по-простому, будто явились сюда прямо с пляжа. Настолько ощущается чувство легкости и свободы в отличие от наших заведений, 
			где все строится чаще всего на пафосе, что натанцеваться от души на паттайских дискотеках удается на все сто.</p>
			<p>Хочется так же оставить отзыв и о кухне, что же такого оригинального можно попробовать в Таиланде. Стоит знать, что блюда
			здесь довольно-таки острые, так что если вы не приверженец красного перца чили, заранее предупреждайте официанта принести 
			вам блюдо с  «ноу спайси, ноу учили». Попробуйте обязательно знаменитый суп «Том ям Кун» с морепродуктами, в основу которого
			входит кокосовое молоко.</p>
			<p>Очень часто можноувидеть небольшие лотки, где продают различные мясные изделия на тоненьких палочках, приготовленные на гриле. 
			Вдоль набережной продают также огромных королевских креветок, да и вообще с морепродуктами в Паттайе все отлично. Очень вкусные суши!
			Кстати, жуки, опарыши, кузнечики – это тоже в изобилии продается на уличных рынках.</p>
			<p>И, конечно же, фрукты. О них стоит поговорить отдельно. Помимо маленьких сладких бананов, здесь потрясающие вкусное и 
			сочное манго. Ананасы при вас же чистят и нарезают кусочками. На огромных лотках чего только не увидишь: мангустин, гуава, 
			лангсат, джекфрут или по-другому хлебное дерево, личи, лонган, лонгконг, папайя, рамбутан, саподилла, карамбола. Согласитесь, 
			одни только названия чего стоят, такого на родине уж точно не встретишь. Кстати, увезти с собой все эти фрукты можно, но только
			в специальных корзинах и не в ручной клади, а в багаже. А вот такой фрукт, как дуриан, вы точно не привезете, так как это 
			лакомство надо есть очень быстро, как только его разрежут. Иначе через несколько минут он начинает так вонять, что не передать
			словами. Не зря в гостиницах, магазинах, аэропорту висят таблички с перечеркнутым дурианом, что означает – вход в общественные 
			места с этим фруктом строго воспрещен и карается штрафом.</p>
			<p>Пару слов о транспорте. Передвигаются по Паттайе в основном на мотобайках. Это быстро и не дорого. Можно взять его и напрокат 
			и колесить по улицам самостоятельно, только будьте осторожны, так как правила здесь не соблюдают и гоняют как сумасшедшие. 
			Для более безопасного вида передвижения можно воспользоваться тук-туком. Это типа маршрутки, только открытой. Есть, конечно, 
			и такси, но оно обойдется вам подороже.</p>
			<p>Что привезти с собой из Паттайи? Сувениров здесь столько, что глаза разбегаются. Это и фигурки Будды, и всевозможные 
			экзотические светильники, бижутерия, изделия из кожи крокодила и змеи. Правда и подделок встречается немало. Например, многие 
			местные жители выдают ремень из обычной коровьей кожи за змеиную – выглядит весьма достоверно, но и цена намного дешевле оригинала. 
			Также Таиланд славится своим шелком, можно приобрести потрясающие качественные ткани с изысканным рисунком в традиционном 
			азиатском стиле. В ювелирных салонах предлагают массу изделий с драгоценными камнями: сапфирами, изумрудами, рубинами – это
			в Таиланде также производят на высшем уровне, а также изделия из жемчуга. Также в Паттайе есть магазин техники «Туком», 
			где можно найти последние ноу-хау: телефоны, ноутбуки, нетбуки. И, конечно же, одежда. В моллах можно найти спортивную 
			одежду известных брендовых марок, а также классику и повседневную одежду хорошего качества. К слову, там можно купить очень 
			красивые сумки.</p>
			<p>Вот такая она Паттайя и отзывы о ней самые лучшие – непонятная, завораживающая, непредсказуемая и порой шокирующая. Но 
			однозначно, возвращаясь из Таиланда нельзя сказать, что эта страна оставила кого-то равнодушным, в этом и есть ее привлекательность
			и изюминка.</p>
		</div>
		&nbsp
		<form>
			<fieldset id = "article_comments">
				<legend><strong>Оставьте свой комментарий</strong></legend>
				<table>
					<tr><td align = "right"><label for = "name">Имя:</label></td><td><input type = "text" id = "name"/></tr></tr>
					<tr><td align = "right"><label for = "mail">E-mail:</label></td><td><input type = "text" id = "mail"/></td></tr>
					<tr><td align = "right" valign = "top"><label for = "text">Текст комментария:</label></td><td><textarea id = "text" cols = "100" rows = "6"></textarea></td></tr>
					<tr><td></td><td><input type = "submit" value = "Добавить комментарий"/><input type = "reset" value = "Очистить"/></td></tr>
				</table>
			</fieldset>
			&nbsp
			<h4><em>Комментарии</em></h4>
			<hr>
			<p><strong>Маргарита</strong> - <em>22 Января 2014г, 23ч 18мин</em></p>
			<p>Прочитала статью и как-будто уже побывала в этих местах, надеюсь, когда-нибудь побываю и на самом деле. 
			Спасибо за интересный рассказ и советы относительно сувениров.</p>
		</form>
	</div>
</body>
</html>