/*Общие работы*/
body{
	font-family: sans-serif;
	background-image: url(/static/img/background.jpg);
	width: 1000px;
	margin: 0 auto 25px;
}

#header{
	height: 90px;
	color: #FFC428;
	font-style: "Courier New";
	background: url(/static/img/background_header.jpg);
	behavior: url(path-to/PIE.htc);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: 4px -4px 10px #FFC428;
	-moz-box-shadow: 4px -4px 10px #FFC428;
	-webkit-box-shadow: 4px -4px 10px #FFC428;
}

#body{
	background-image: url(/static/img/background_1.jpg);
	padding: 10px 10px;
	margin-top: 5px;  behavior: url(path-to/PIE.htc);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: -4px 4px 10px #C1C1C1;
	-moz-box-shadow: -4px 4px 10px #C1C1C1;
	-webkit-box-shadow: -4px 4px 10px #C1C1C1;
}

h1{
	margin: 10px 0 0 650px;
	padding: 10px 0 0 0;
}

#menu{
	font: bold 17px cursive;
}

#menu a{
	text-decoration: none;
	color: #0F94F6;
}

#menu a:hover{
text-decoration: underline;
}

#menu li{
	display: inline;
	margin: 4px;
	padding: 2px;
}


/*Работа со страницей Статьи*/
.article_title{
	text-align: center;
	font: 25px "Palatino Linotype";
	color: #978A68;
}

.article_title a{
	color: #978A68;
	text-decoration: none;
}

.summary{
	font-style: italic;
}

.read_more:hover{
	text-decoration: none;
	color: #E27928;
}

.comments{
	color: #7D5045;
}

.article_image{
	width: 120px;
	float: left;
	margin-right: 10px;
}


/*Работа непосредственно со статьями*/
#article_body{
	background-image: url(/static/img/background_1.jpg);
	padding: 10px 10px;
	margin-top: 5px;
	behavior: url(../path-to/PIE.htc);
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	box-shadow: -4px 4px 10px #C1C1C1;
	-moz-box-shadow: -4px 4px 10px #C1C1C1;
	-webkit-box-shadow: -4px 4px 10px #C1C1C1;
}

#first_letter p:first-letter{
	color: red;
	font-size: 20px;
	font-family: "Arial";
}


/*Работа со страницей Каталог*/
#categories{
	padding-left:25px;
	list-style-image: url(/static/img/catalog_arrow.png);
}

#categories ul li{
	padding: 5px;
	list-style-image: url(/static/img/catalog_arrow2.png);
}


/*Работа со страницей Галерея изображений*/
.image{
	width: 300px;
	border: 3px solid #798FA4;
}

.image:hover{
	border-color: transparent;
}

#images td{
	padding-bottom: 5px;
	text-align: right;
}


/*Работа со страницей Регистрация*/
input[type = "text"]{
	width: 200px;
}

input[type = "password"]{
	width: 150px;
}

#mail:focus{
	background-color: #FFEC3C;
}

input[type = "reset"]:active{
	background-color: #FF4528;
}

input[type ="checkbox"]{
	margin-left: 15px;
}

input[type ="radio"]{
	margin-left: 15px;
}
