<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
<link rel = "stylesheet" href = "styles/style.css" type = "text/css"/>
<title>Статьи</title>
</head>
<body>
	<div id = "header">
		<h1>TRAVELING</h1>
		<ul id = "menu">
			<li><a href = "index.html">Главная</a></li>
			<li><a href = "articles.html">Статьи</a></li>
			<li><a href = "catalog.html">Каталог</a></li>
			<li><a href = "image_galery.html">Галерея изображений</a></li>
			<li><a href = "registration.html">Регистрация</a></li>
			<li><a href = "contacts.html">Контакты</a></li>
		</ul>
	</div>
	
	<div id = "body">
		<h2>Статьи</h2>
		<hr>
		<h4 class = "article_title"><a href = "articles/article_Pattaya.html">Паттайя – город свободы. Отзывы о Паттайе</a></h4>
		<p class = "summary"><img src = "images/article_Pattaya.jpg" title = "Паттайя – город свободы" alt = "Паттайя – город свободы"
		class = "article_image"/>Таиланд – любимое место отдыха туристов из всех стран. Здесь есть все для отличного и запоминающегося отпуска: 
		невероятной красоты море, чистейшие пляжи, вкусная кухня, большой выбор развлечений. В то же время о Таиланде существует и другое
		мнение. Все слышали о том, что в здесь довольно распущенные нравы. Поэтому некоторые отказываются от поездки в Таиланд только из-за
		этого. Но не спешите принимать такого поспешного решения, если тоже рассматриваете вариант отдыха в Таиланде, но сомневаетесь, стоит
		ли туда ехать. Обязательно стоит!... &raquo <a href = "articles/article_Pattaya.html" class = "read_more">Читать далее</a></p>
		<p><a href = "articles/article_Pattaya.html#article_comments" class = "comments">Перейти к комментариям</a></p>
		
		<h4 class = "article_title"><a href = "articles/article_SiJava.html">Суматра и Ява – острова контрастов</a></h4>
		<p class = "summary"><img src = "images/article_SiJava.jpg" title = "Суматра и Ява – острова контрастов" alt = "Суматра и Ява – острова контрастов" class = "article_image"/>На сайте «Солнечные руки» в рубрике «Отдых, путешествия и туризм» есть немало статей, в которых наши авторы делятся личным опытом поездок в экзотические страны. Такие, например, как Барбадос, Боракай, Эль-Нидо и многие другие. Все эти направления очень привлекательны, они как путешествие в другой мир, со своими традициями, обычаями, природой. Сегодня мы совершим с вами поездку в еще одно экзотическое государство, Индонезию. Нашим туристам хорошо известен остров Бали, но вот о двух других островах Индонезии – Суматре и Яве – мало кто знает. А ведь там настоящий рай, идеальный отдых!... &raquo
		<a href = "articles/article_SiJava.html" class = "read_more">Читать далее</a></p>
		<p><a href = "articles/article_SiJava.html#article_comments" class = "comments">Перейти к комментариям</a></p>
		
		<footer>
			<hr>&#169 Глупые путешественники посещают музеи, умные посещают таверны. (Эрхарт Кестнер)
		</footer>
	</div>
</body>
</html>