<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8">
<link rel = "stylesheet" type = "text/css" href = "/static/css/style.css">
<title>Контакты</title>
</head>
<body>
	<div id = "header">
		<h1>TRAVELING</h1>
		<ul id = "menu">
			<li><a href = "/">Главная</a></li>
			<li><a href = "/articles/">Статьи</a></li>
			<!--<li><a href = "catalog.html">Каталог</a></li>
			<li><a href = "image_galery.html">Галерея изображений</a></li>
			<li><a href = "registration.html">Регистрация</a></li>-->
			<li><a href = "/contacts/">Контакты</a></li>
		</ul>
	</div>
	
	<div id = "body">
		<h2>Контакты</h2>
		<hr>
		<p><strong>Адрес: пр. Машерова, 30</strong><p/>
		<img src = "/static/img/contacts_map.jpg" width = "400" title = "Схема проезда"/>
		<p><strong>Время работы: пн-пт: 09.00 - 20.00, сб: 09.00 - 18.00, вс: выходной</strong></p>
		&nbsp
		<form>
		<fieldset>
			<legend><strong>Форма обратной связи</strong></legend>
			<table>
				<tr><td align = "right"><label for = "name">Имя:</label></td><td><input type = "text" id = "name"/></td></tr>
				<tr><td align = "right"><label for = "mail">E-mail:</label></td><td><input type = "text" id = "mail"/></td></tr>
				<tr><td align = "right" valign = "top"><label for = "text">Вопрос:</td><td><textarea id = "text" cols = "50" rows = "6"></textarea></td></tr>
				<tr><td></td><td><input type = "submit"/><input type = "reset"/></td></tr>
			</table>
		</fieldset>
		<form>
		
		<footer>
			<hr>&#169 Глупые путешественники посещают музеи, умные посещают таверны. (Эрхарт Кестнер)
		</footer>
	</div>
</body>
</html>