<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv = "Content-Type" content = "text/html; charset = utf-8"/>
<link rel = "stylesheet" href = "styles/style.css" type = "text/css"/>
<title>Главная страница</title>
</head>
<body>
	<div id = "header">
		<h1>TRAVELING</h1>
		<ul id = "menu">
			<li><a href = "index.html">Главная</a></li>
			<li><a href = "articles.html">Статьи</a></li>
			<li><a href = "catalog.html">Каталог</a></li>
			<li><a href = "image_galery.html">Галерея изображений</a></li>
			<li><a href = "registration.html">Регистрация</a></li>
			<li><a href = "contacts.html">Контакты</a></li>
		</ul>
	</div>
	
	<div id = "body">
		<h2>Главная страница</h2>
		<hr>
		
		<p>Пока пусто...</p>
		
		<footer>
			<hr>&#169 Глупые путешественники посещают музеи, умные посещают таверны. (Эрхарт Кестнер)
		</footer>
	</div>
</body>
</html>